<%= form_with(model: vault) do |form| %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  <%= form.file_field :attachm %>
    <%= form.submit "Create Attachment", class: "button-74" %>
  </div>

  <div>
    <%= form.text_field :project_id, value: @project.id, type: :hidden %>
  </div>

  <div>
  </div>
<% end %>
